@font-face {
    font-family: Expletus_Sans-Bold;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-Bold.ttf);
}
@font-face {
    font-family: Expletus_Sans-BoldItalic;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-BoldItalic.ttf);
}
@font-face {
    font-family: Expletus_Sans-Italic;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-Italic.ttf);
}
@font-face {
    font-family: Expletus_Sans-Medium;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-Medium.ttf);
}
@font-face {
    font-family: Expletus_Sans-MediumItalic;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-MediumItalic.ttf);
}
@font-face {
    font-family: Expletus_Sans-Regular;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-Regular.ttf);
}
@font-face {
    font-family: Expletus_Sans-SemiBold;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-SemiBold.ttf);
}
@font-face {
    font-family: Expletus_Sans-SemiBoldItalic;
    src: url(@assets/fonts/GlobalFont/Expletus_Sans/ExpletusSans-SemiBoldItalic.ttf);
}
