@font-face {
    font-family: Lato-Black;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-BlackItalic;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-BlackItalic.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-BoldItalic;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: Lato-Hairline;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Hairline.ttf);
}
@font-face {
    font-family: Lato-HairlineItalic;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-HairlineItalic.ttf);
}
@font-face {
    font-family: Lato-Italic;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Italic.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-LightItalic;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-LightItalic.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(@assets/fonts/GlobalFont/Lato/Lato-Regular.ttf);
}