@font-face {
    font-family: MavenPro-Black;
    src: url(@assets/fonts/GlobalFont/Maven_Pro/MavenPro-Black.ttf);
}
@font-face {
    font-family: MavenPro-Bold;
    src: url(@assets/fonts/GlobalFont/Maven_Pro/MavenPro-Bold.ttf);
}
@font-face {
    font-family: MavenPro-Medium;
    src: url(@assets/fonts/GlobalFont/Maven_Pro/MavenPro-Medium.ttf);
}
@font-face {
    font-family: MavenPro-Regular;
    src: url(@assets/fonts/GlobalFont/Maven_Pro/MavenPro-Regular.ttf);
}