@font-face {
    font-family: Merriweather-Black;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-Black.ttf);
}
@font-face {
    font-family: Merriweather-BlackItalic;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-BlackItalic.ttf);
}
@font-face {
    font-family: Merriweather-Bold;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-Bold.ttf);
}
@font-face {
    font-family: Merriweather-BoldItalic;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-BoldItalic.ttf);
}
@font-face {
    font-family: Merriweather-Italic;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-Italic.ttf);
}
@font-face {
    font-family: Merriweather-Light;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-Light.ttf);
}
@font-face {
    font-family: Merriweather-LightItalic;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-LightItalic.ttf);
}
@font-face {
    font-family: Merriweather-Regular;
    src: url(@assets/fonts/GlobalFont/Merriweather/Merriweather-Regular.ttf);
}