@font-face {
    font-family: Montserrat-Black;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-BlackItalic.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-LightItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-LightItalic.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-MediumItalic.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Montserrat-Thin;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: Montserrat-ThinItalic;
    src: url(@assets/fonts/GlobalFont/Montserrat/Montserrat-ThinItalic.ttf);
}