@font-face {
    font-family: NotoSerif-Bold;
    src: url(@assets/fonts/GlobalFont/NotoSerif/NotoSerif-Bold.ttf);
}
@font-face {
    font-family: NotoSerif-BoldItalic;
    src: url(@assets/fonts/GlobalFont/NotoSerif/NotoSerif-BoldItalic.ttf);
}
@font-face {
    font-family: NotoSerif-Italic;
    src: url(@assets/fonts/GlobalFont/NotoSerif/NotoSerif-Italic.ttf);
}
@font-face {
    font-family: NotoSerif-Regular;
    src: url(@assets/fonts/GlobalFont/NotoSerif/NotoSerif-Regular.ttf);
}