@font-face {
    font-family: PT_Serif-Caption-Web-Italic;
    src: url(@assets/fonts/GlobalFont/PT_Serif_Caption/PT_Serif-Caption-Web-Italic.ttf);
}
@font-face {
    font-family: PT_Serif-Caption-Web-Regular;
    src: url(@assets/fonts/GlobalFont/PT_Serif_Caption/PT_Serif-Caption-Web-Regular.ttf);
}