@font-face {
    font-family: Rajdhani-Bold;
    src: url(@assets/fonts/GlobalFont/Rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
    font-family: Rajdhani-Light;
    src: url(@assets/fonts/GlobalFont/Rajdhani/Rajdhani-Light.ttf);
}
@font-face {
    font-family: Rajdhani-Medium;
    src: url(@assets/fonts/GlobalFont/Rajdhani/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: Rajdhani-Regular;
    src: url(@assets/fonts/GlobalFont/Rajdhani/Rajdhani-Regular.ttf);
}
@font-face {
    font-family: Rajdhani-SemiBold;
    src: url(@assets/fonts/GlobalFont/Rajdhani/Rajdhani-SemiBold.ttf);
}