@font-face {
    font-family: Roboto-Black;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-BlackItalic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-BoldItalic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-ThinItalic;
    src: url(@assets/fonts/GlobalFont/Roboto/Roboto-ThinItalic.ttf);
}