@font-face {
    font-family: Spectral-Bold;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-Bold.ttf);
}
@font-face {
    font-family: Spectral-BoldItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-BoldItalic.ttf);
}
@font-face {
    font-family: Spectral-ExtraBold;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-ExtraBold.ttf);
}
@font-face {
    font-family: Spectral-ExtraBoldItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Spectral-ExtraLight;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-ExtraLight.ttf);
}
@font-face {
    font-family: Spectral-ExtraLightItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Spectral-Italic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-Italic.ttf);
}
@font-face {
    font-family: Spectral-Light;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-Light.ttf);
}
@font-face {
    font-family: Spectral-LightItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-LightItalic.ttf);
}
@font-face {
    font-family: Spectral-Medium;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-Medium.ttf);
}
@font-face {
    font-family: Spectral-MediumItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-MediumItalic.ttf);
}
@font-face {
    font-family: Spectral-Regular;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-Regular.ttf);
}
@font-face {
    font-family: Spectral-SemiBold;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-SemiBold.ttf);
}
@font-face {
    font-family: Spectral-SemiBoldItalic;
    src: url(@assets/fonts/GlobalFont/Spectral/Spectral-SemiBoldItalic.ttf);
}