@font-face {
    font-family: Yantramanav-Black;
    src: url(@assets/fonts/GlobalFont/Yantramanav/Yantramanav-Black.ttf);
}
@font-face {
    font-family: Yantramanav-Bold;
    src: url(@assets/fonts/GlobalFont/Yantramanav/Yantramanav-Bold.ttf);
}
@font-face {
    font-family: Yantramanav-Light;
    src: url(@assets/fonts/GlobalFont/Yantramanav/Yantramanav-Light.ttf);
}
@font-face {
    font-family: Yantramanav-Regular;
    src: url(@assets/fonts/GlobalFont/Yantramanav/Yantramanav-Regular.ttf);
}
@font-face {
    font-family: Yantramanav-Thin;
    src: url(@assets/fonts/GlobalFont/Yantramanav/Yantramanav-Thin.ttf);
}