@import "@src/styles/_mixin.scss";

.fpp-project-link-selector-container {
  position: relative;
  width: 100%;
  height: 36px;
  background-color: #ffffff;
  border:1px solid #BDBDBD;

  .sp__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid #999;
    &:hover {
      opacity: .8;
      background-color: #e3e3e3;
    }
  }
  .sp__content {
    width: 104%;
    left: -2%;
    max-height: 400px;
    min-height: 100px;
    overflow-x: scroll;
    z-index: 111;
    position: absolute;
    bottom: 100%;
    background: #ffffff;
    border: 1px solid ;
    border-color: #BDBDBD;
    border-radius: 4px;
  }


  .input-wrapper {
    display: flex;
    position: relative;
    width: 98%;
    height: 100%;

    .visit{
      position: absolute;
      right: 2px;
      width: 20px;
      height: 100%;
      padding-right: 10px;
      color: #0179FF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inputer {
      height: 100%;
      border: 0;
      font-size: 13px;
      width: 70%;
      @include limit(1);
      outline: none !important;

    }
  }
  .selected-list {
    display: flex;
  }

  .selected-item {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  .menu-row{
    cursor: pointer;
    padding-left: 8px;
    @include limit(1);


    &:hover {
      opacity: .8;
      background-color: #e3e3e3;
    }
  }
  .selector-row {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    @include limit(1);
    &:hover {
      opacity: .8;
      background-color: #e3e3e3;
    }


    .img {
      height: 36px;
      width: 36px;
    }
  }
}
