.pls__business-select-root {
  // position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  transition: top 500ms; // 动画有点问题,后续优化

  .collection-row__img {
    width: 24px;
    height: 24px;
  }

  .input-content {
    height: 36px;
  }

  .h-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background: #f7f8f9;
    position: relative;
    .title {
      font-size: 14px;
      color: #222222;
    }

    .icon-close {
      position: absolute;
      right: 4px;
      top: 6px;
    }
  }
}
