.save-buttonBar {
    width: 100%;
    height: 54px;
    background: rgba(32, 33, 35, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 210px;
    .save-buttonBar-container {
        width: 1200px;
        margin: 0 auto;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .save-buttonBar-button {
        width: 150px;
        display: flex;
        flex-direction: row;
        padding-right: 30px
    }

    .save-buttonBar-button-item {
        margin: 0 10px
    }

    .save-buttonBar-container-title {
        font-weight: 600;
        line-height: 24px;
        color: #e3e5e7;
        font-size: 16px;
    }
    .save-buttonBar-button-item-cancel{
        border: 1px solid #82878b;
        color: #e3e5e7;
        background: #202123;
        &:hover,&:focus{
            background:#54575b;
            color:#e3e5e7;
            border: 1px solid #82878b;
        }
    }
}
