@mixin limit($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}


@mixin wordWrap() {
  word-wrap: break-word;
  word-break: break-all;
}