// FPP 定义基础样式变量
$btnColor: #2c6ecb;
$textColor: #202223;
$borderColor: #babfc3;
$backgroundColor: #f6f6f7;
$tagBackgroundColor: #e4e5e7;
$baseBorderColor: #e1e3e5;
$baseBoxShadow: rgba(0, 0, 0, 0.2) 0px 26px 80px 0px;
$deleteTextColor: #cd290c;
$deleteBackgroundColor: #fff0f0;
$tooltipColor: #6d7175;
$activeBackgroundColor: #aee9d1;
$draftBackgroundColor: #a4e8f2;
$btnHoverBackgroundColor: #f1f2f3;
$errorTextColor: #d72c0d;
$errorBackgroundColor: #fff4f4;
$errorBorderColor: #e0b3b2;
$warningBackgroundColor: #fff5ea;
$warningBorderColor: #e1b878;
// $btnBaseColor: #068468;
$btnBaseColor: #068468;
$starColor: #f45a19;
$firstLevelTitleFontSize: 20px;
$secondLevelTitleFontSize: 16px;
$thirdLevelTitleFontSize: 14px;
$tooltipFontSize: 14px;
$saveBarBackgroundColor: #202123;
$saveBarBoxShadow: 0 2px 4px rgba(0,0,0,0.1);
// 会员系统
$memberLogoBgColor: #fff;
$memberMenuListBgColor: #fff;
$memberMenuListActiveBgColor: #fff;
$earnBorderColor:rgba(255,135,89,0.5);
$earnActiveBgColor: rgba(255,135,89,0.25);
$earnBgColor:rgba(255,135,89,0.05);
$memberBtnBgColor: #FF8759;
// pc和移动端预览
$previewBGColor: rgba(0, 0, 0, 0.6);