.fpp_back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #f7f8f9;
    padding: 20px 0;
    z-index: 10;
    .fpp_back-left {
        display: flex;
        align-items: center;
    }
    .fpp_back-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
    }
    .fpp_back-icons {
        background: #ffffff;
        border-radius: 6px;
        padding: 7px 10px;
        font-size: 12px;
        margin-right: 10px;
        cursor: pointer;
        .fpp_back-icon {
            font-size: 14px;
            color: #666666;
        }
    }

    .fpp_title {
        font-weight: 500;
        color: #222222;
        line-height: 28px;
        letter-spacing: 1px;
        word-break: break-all;
        word-wrap: break-word;
    }
}
