.ThemesNotFount {
    text-align: center;
    padding-top: 20vh;
    height: 100vh;
    position: relative;
    z-index: 9999;
    p {
        color: #333333;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .shade {
        width: 100%;
        height: 20vh;
        background-color: #eff5f8;
        position: absolute;
        top: 0;
    }
    .goTemp {
        display: inline-block;
        color: #fff;
        padding: 7px 23px;
        background-color: #068468;
        border-color: #068468;
        letter-spacing: 1px;
        border-radius: 4px;
        cursor: pointer;
    }
}
