.fpp_user {
    display: flex;
    align-items: center;
    .fpp_user-icon {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .inform {
        margin-right: 25px;
        // cursor: pointer;
    }
}
.InformModalConfirm {
    .ant-modal-confirm-title {
        text-align: center;
    }
    .ant-modal-confirm-content {
        margin-top: 15px;
    }
    .ant-modal-confirm-btns {
        margin: 24px auto 0;
        float: none;
        text-align: center;
        & .ant-btn:first-child {
            display: none;
        }
        .ant-btn {
        }
    }
}
.PopoverInform {
    max-width: 400px;
    .ant-popover-inner-content {
        padding: 0;
    }
    .text {
        padding: 12px 16px;
        min-width: 250px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: none;
    }
    ul {
        max-height: 500px;
        overflow-y: auto;
        li {
            padding: 10px 16px;
            border-top: 1px solid #f0f0f0;
            display: flex;
            align-items: flex-start;
            .iconlaba {
                margin-right: 10px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #ecf4ff;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                }
            }
            .inform-item {
                font-weight: 600;
                cursor: pointer;
                span {
                    font-size: 12px;
                }
            }
            .read {
                font-weight: normal;
                color: $borderColor;
                cursor: pointer;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}
