.fit-aside-container {
    width: 416px;
    height: 100%;
    background: #f1f4f7;
    display: flex;
    flex-direction: column;
    .fitTabs {
        display: flex;
        justify-content: space-around;
    }
    .fa__tabs {
        flex: none;
    }

    .tab-panel {
        flex: 1;
        overflow: auto;
    }

    .shop-config-wrapper {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
    .config-name-list {
        width: 126px;
        flex: none;
        overflow: auto;
        .c-n__row {
            height: 44px;
            line-height: 44px;
            padding: 8px 10px;
            font-size: 14px;
            overflow: hidden;
            &:hover {
                .fitaside-sidebar-remove-icon {
                    display: block;
                }
            }
            display: flex;
            justify-content: left;

            .fitaside-sidebar-drag-icon {
                font-size: 16px;
                flex: none;
                cursor: move;
                pointer-events: none;
            }

            .fitaside-sidebar-text {
                line-height: 15px;
                pointer-events: none;
            }

            .fitaside-sidebar-remove-icon {
                margin-right: 0;
                margin-left: 2px;
                padding: 0;
                display: none;

                svg {
                    font-size: 18px;
                    pointer-events: none;
                }
            }
        }
    }
    .config__context {
        background: #ffffff;
        flex: 1;
        overflow: auto;
    }
    .config-item {
        // background-color: #FFFFFF;
    }
    .MuiList-root {
        padding: 0 !important;
    }
}
.fit-preview-container {
    padding: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
