@import "@src/styles/_mixin.scss";
.config-render-container {
    background-color: #fff;
    padding: 16px 0;
    .configItemContaienr{
        padding: 0 24px;
        &.marginTop{
            margin-top: 20px;
        }
    }
    .LabelColorPicker{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
    }
    .divider{
        height: 1px;
        background: #eaecef;
        margin: 20px 0;
    }
    .jusitify-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
